.Logo {
    height: 8px;
    padding-top: 10px;
    padding-left: 10px;
}

@media (max-width: 320px) {
    .desktopdnly {
        display: none;
    }
    .header{
        background-color: black;
        width: 100%;
    }
}

@media (max-width: 481px) {
    .desktopdnly {
        display: none;
    }
    .header{
        background-color: black;
        width: 100%;
    }
}

@media (max-width: 769px) {
    .desktopdnly {
        display: none;
    }
    .header{
        background-color: black;
        width: 100%;
    }
}

@media (max-width: 1025px) {
    .desktopdnly {
        display: none;
    }
    .header{
        background-color: black;
        width: 100%;
    }
}

.badge {
  background-color: red;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shoppingcartboxtoogle {
  color: #007bff;
  cursor: pointer;
}