.mobilenav {
    display: inline-flex;
    align-items: center;
}

.drawertoggle {
    width: 40px;
    height: 100%;
    font-size: 30px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 15px 0 ;
    box-sizing: border-box;
    cursor: pointer;
    color: white;
}

@media (min-width: 1025px) {
    .mobilenav {
        display: none;
    }
}

.shoppingcart {
    position: absolute;
    right: 15px;
}

.badge {
    background-color: red;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .shoppingcartboxtoogle {
    color: #007bff;
    cursor: pointer;
  }
  